/* ============================== */
/* === Footer                     */
/* ============================== */

footer {
  width: 100%;
  color: var(--color-dark-grey);
  background: var(--color-background);
  font-family: var(--font-main);
  font-weight: 400;
}

.footer-container {
  width: min(100%, var(--content-max-width));
  padding: var(--spacing-double) var(--spacing-unit);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-unit);
  border-top: var(--border-size) solid var(--color-text);
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--spacing-half);
}

.footer-link a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--spacing-half);
  gap: var(--spacing-half);
  color: var(--color-dark-grey);
  text-decoration: none;
  transition: color 0.2s ease;
}

.footer-link a:hover {
  color: var(--color-text);
}

.footer-gpg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-gpg a {
  color: var(--color-dark-grey);
}

.footer-gpg a:hover {
  color: var(--color-text);
}

.footer-copyright {
  margin-top: var(--spacing-unit);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  text-align: center;
}
