/* ============================== */
/* === Footer                     */
/* ============================== */

footer {
  width: 100%;
  height: 100%;
  color: var(--color-background);
  background: var(--color-text);
}

.footer-container {
  width: min(100%, var(--content-max-width));
  padding: calc(3 * var(--spacing-unit)) calc(1 * var(--spacing-unit));
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-links {
  display: flex;
  flex-basis: auto;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  margin-bottom: calc(1 * var(--spacing-unit));
}

.footer-link a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--spacing-unit);
  gap: var(--spacing-unit);
  color: var(--color-background);
}

.footer-gpg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-gpg a {
  color: var(--color-background);
}

.footer-copyright {
  margin-top: calc(2 * var(--spacing-unit));
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  flex-basis: 0;
  flex-grow: 2;
  text-align: center;
}

.footer-spacer {
  flex-basis: 0;
  flex-grow: 1;
}

.footer-spacer--left {
  text-align: left;
}

.footer-spacer--right {
  text-align: right;
}
