@import url("https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL,CRSV,MONO@-15..0,300..1000,0..1,0..1,0..1&display=swap");

:root {
  /* Colors */
  --color-text: hsl(0 0% 10%);
  --color-background: #fdfdfd;

  --color-primary: hsl(165 100% 0%);
  --color-accent: hsl(165 75% 50%);
  --color-light-grey: hsl(0 0% 96%);
  --color-grey: hsl(0 0% 85%);
  --color-dark-grey: hsl(0 0% 58%);
  --color-logo: white;
  --color-main-dark: hsl(205 50% 35%);
  --dark-blue: hsl(230 50% 35%);
  --color-link-visited: var(--color-accent);

  /* Typography */
  --font-sans: "Recursive", monospace;
  --font-size: 1.125rem;

  --casl: "casl" 0;
  --wght: "wght" 400;
  --slnt: "slnt" 0;
  --mono: "mono" 1;
  --CRSV: "CRSV" 0;

  /* Layout */
  --content-max-width: 800px;
  --spacing-unit: 1rem;
  --header-height: 100px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul,
ol,
figure,
blockquote {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

* {
  font-size: 1rem;
}

html {
  font-size: 100%; /* 100% of the browser's default (usually 16px) */

  font-family: var(--font-sans);
  font-variation-settings:
    var(--mono), var(--casl), var(--wght), var(--slnt), var(--CRSV);
  line-height: 1.6;

  color: var(--color-text);

  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  min-height: 100vh;
}

/* Headings */
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-sans);
  margin-top: calc(3 * var(--spacing-unit));
  margin-bottom: calc(2 * var(--spacing-unit));
}

h1 {
  font-size: 2.5rem;
  font-variation-settings: "wght" 700;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
  margin-top: calc(-0.5 * var(--spacing-unit));
  margin-bottom: calc(0 * var(--spacing-unit));
  font-variation-settings: "wght" 100;
}

h3 a {
  font-size: 1.5rem;
  font-variation-settings:
    "wght" 600,
    "mono" 1;
}

.body {
  background-color: var(--color-accent);
  flex: 1;
}

/* container-body is used to set the white page on top of
 * the accented body color. This way, we will see the accented
 * color only when scrolling at the edges. */
.container-body {
  min-height: 100vh;
  width: 100%;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-body-dotted {
  width: 100%;
  height: 100%;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  --dot-bg: white;
  --dot-color: var(--color-dark-grey);
  --dot-size: 1px;
  --dot-space: 22px;
  background:
    linear-gradient(
        90deg,
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--dot-color);
}

/* ****************************** */
/* *** Main                       */
/* ****************************** */

.main {
  width: var(--content-max-width);
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

/* Header*/

/* ****************************** */
/* *** Header                     */
/* ****************************** */

.page-header {
  position: sticky;
  top: 0;

  height: var(--header-height);
  width: 100%; /* Use 100% instead of left/right 0 for simplicity */

  z-index: 1000;

  background-color: var(--color-background);
  border-bottom: 1px solid var(--color-text);
  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation {
  width: var(--content-max-width);
  background-color: var(--color-background);
  height: 100%;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  align-items: center;
}

.navigation-logo,
.navigation-links,
.navigation-spacer {
  flex-basis: 0;
  flex-grow: 1;
}

.navigation-logo {
  text-decoration: none;
  font-variation-settings:
    "wght" 600,
    var(--mono);
  text-align: left;
}

.navigation-spacer {
  text-align: right;
  font-size: 2rem;
  font-variation-settings: "wght" 200;
}

.navigation-links {
  flex-grow: 2;
  background-color: var(--color-background);
}

.navigation-list {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.post-cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.spacer {
  font-size: 2rem;
  font-variation-settings: "wght" 200;
}

.post-header {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 0;
}

.post-date {
  color: var(--color-dark-grey);
  font-size: 0.7em;
  margin-bottom: 0;
  font-style: italic;
  font-variation-settings:
    "slnt" -15,
    "MONO" 1;
}

.post-tags {
  display: flex;
  gap: 0.1rem;
  padding: 0;
  margin: 0;
}

.post-tag {
  font-size: 0.8em;
  padding-right: 0.3rem;
  font-weight: 100;
  display: inline-block;
}

.tag-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-light-grey);
  border: 0.1px solid var(--color-grey);
  padding: 0.1rem;
  border-radius: 3px;
}

.tag-hash,
.tag-text {
  font-size: 0.7rem;
  color: var(--color-dark-grey);
}

.index-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.index-image-container {
  align-items: center;
  text-align: center;
}
/* Links */
a {
  color: var(--color-primary);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-style: solid;
  text-decoration-color: var(--color-accent);
  transition: color 0.2s ease;
}

a:hover {
  color: var(--color-primary);
}

a:visited {
  color: var(--color-primary);
  text-decoration-color: var(--color-link-visited);
}

.navigation a {
  font-variation-settings:
    "wght" 600,
    "MONO" 1;
}

.navigation-logo a {
  padding: 0.3em;
  color: var(--color-logo);
  background: var(--color-primary);
  text-decoration: none;
}

/* ****************************** */
/* *** Footer                     */
/* ****************************** */

.footer {
  color: white;
  background: var(--color-text);
  margin-top: calc(7 * var(--spacing-unit));
  padding-bottom: calc(3 * var(--spacing-unit));
  gap: calc(7 * var(--spacing-unit));

  width: 100%; /* Use 100% instead of left/right 0 for simplicity */
  height: 100%;
}

.footer-container {
  width: var(--content-max-width);
  padding-top: calc(3 * var(--spacing-unit));
  padding-bottom: calc(5 * var(--spacing-unit));
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-contacts {
  display: flex;
}

.footer-spacer,
.footer-links {
  display: flex;
  gap: 30px;
  flex-basis: auto;
  flex-grow: 1;
}

.footer-spacer--left,
.footer-spacer--right {
  font-size: 2rem;
  font-variation-settings: "wght" 200;
}

.footer-spacer--left {
  justify-content: left;
}

.footer-spacer--right {
  justify-content: right;
}

.footer-links {
  display: flex;
  flex-grow: 3;
  justify-content: center;
}

.footer-link {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.footer-link a {
  display: flex; /* Makes the anchor a flexible container */
  align-items: center; /* Vertically centers the text and the icon */
  gap: 0.5rem; /* Adds space between the {platform} text and the <svg> icon */
  color: white;
}

.footer-rights {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-variation-settings: "wght" 200;
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-image {
  margin-top: calc(10 * var(--spacing-unit));
  width: 600px;
  height: 500px;
  border: 1px solid var(--color-text);
}

.index-image {
  width: 650px;
  height: 400px;
  border: 1px solid var(--color-text);
}

.caption {
  color: var(--light-grey);
  font-variation-settings:
    "slnt" -15,
    "MONO" 1;
}

.caption p {
  font-size: 0.7rem;
}

::selection {
  background: var(--color-accent);
  color: var(--color-text);
}

/* Code */
.astro-code {
  background-color: var(--color-light-grey);
  padding: calc(1 * var(--spacing-unit));
  border: 1px solid var(--color-grey);
  line-height: 1.3;
}

code span {
  font-size: 0.7rem;
  line-height: 1;
}
