@import url("https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL,CRSV,MONO@-15..0,300..1000,0..1,0..1,0..1&display=swap");

:root {
  /* Colors */
  --color-white: hsl(0, 0%, 99%);
  --color-black: hsl(0, 0%, 10%);
  --color-cyan: hsl(165 75% 50%);
  --color-light-grey: hsl(0 0% 96%);
  --color-grey: hsl(0 0% 85%);
  --color-dark-grey: hsl(0 0% 58%);

  /* Abstraction */
  --color-text: var(--color-black);
  --color-background: var(--color-white);
  --color-accent: var(--color-cyan);
  --color-text-logo: var(--color-background);
  --color-background-logo: var(--color-text);
  --color-link: var(--color-text);
  --color-link-visited: var(--color-accent);

  /* Typography */
  --font-sans: "Recursive", monospace;
  --font-size: 1.125rem; /* used by the rem*/
  --casl: "casl" 0;
  --wght: "wght" 400;
  --slnt: "slnt" 0;
  --mono: "MONO" 1;
  --CRSV: "CRSV" 0;

  /* Layout */
  --content-max-width: 720px;
  --spacing-unit: 1rem;
  --border-size: calc(0.1 * var(--spacing-unit));
  --header-height: 100px;
}

*,
*::before,
*::after {
  /* To have max width to take into account border, margin, and padding. */
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul,
ol,
figure,
figcaption,
blockquote {
  margin: 0;
  padding: 0;
}

em {
  font-variation-settings: "slnt" -15;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 100%;
  line-height: 1.6;

  color: var(--color-text);

  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  font-family: var(--font-sans);
  font-variation-settings:
    var(--mono), var(--casl), var(--wght), var(--slnt), var(--CRSV);
}

/* Headings */
h1,
h2,
h3,
h4,
h5 {
  margin-top: calc(3 * var(--spacing-unit));
  margin-bottom: calc(2 * var(--spacing-unit));
}

h1 {
  font-size: 2.5rem;
  font-variation-settings: "wght" 700;
}

/* h2 is not used, but let free for futureproof */
h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  font-variation-settings: "wght" 600;
  margin-top: calc(-0.5 * var(--spacing-unit));
  margin-bottom: calc(0 * var(--spacing-unit));
}

/* ****************************** */
/* *** Main                       */
/* ****************************** */

.body {
  background-color: var(--color-accent);
  display: flex;
  flex-direction: column;
}

/* Used to set the white page on top of
 * the accented body color. This way, we will see the accented
 * color only when scrolling at the edges. */
.body-container {
  width: 100vw;
  min-height: 100vh;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.dotted {
  --dot-bg: var(--color-background);
  --dot-color: var(--color-grey);
  --dot-size: calc(0.015 * var(--header-height));
  --dot-space: calc(0.2 * var(--header-height));
  background:
    linear-gradient(
        90deg,
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--dot-color);
}

/* ****************************** */
/* *** Header                     */
/* ****************************** */

.header-container {
  position: sticky;
  top: 0;
  min-height: var(--header-height);
  width: 100%; /* Use 100% instead of left/right 0 for simplicity */
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-background);
  border-bottom: var(--border-size) solid var(--color-text);
}

.navigation {
  width: min(100%, var(--content-max-width));
  height: 100%;
  padding: calc(1 * var(--spacing-unit));
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-logo,
.navigation-links,
.navigation-spacer {
  flex-basis: 0;
  flex-grow: 1;
}

.navigation-links {
  flex-grow: 2;
}

.navigation-logo {
  background: var(--color-background-logo);
  font-variation-settings:
    "wght" 700,
    "MONO" 1;
  text-align: center;
  text-decoration: none;
  padding: 0.1em;
}

.logo-link {
  color: var(--color-text-logo);
  text-decoration: none;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: calc(3 * var(--spacing-unit));
  font-size: 1.1rem;
  font-variation-settings: "wght" 500;
}

.navigation-spacer {
  text-align: right;
  font-size: 2rem;
  font-variation-settings: "wght" 300;
}

/* ****************************** */
/* *** Footer                     */
/* ****************************** */

.footer {
  width: 100%;
  height: 100%;
  color: var(--color-background);
  background: var(--color-text);
  margin-top: calc(6 * var(--spacing-unit));
  padding-bottom: calc(3 * var(--spacing-unit));
}

.footer-container {
  width: min(100%, var(--content-max-width));
  padding: calc(3 * var(--spacing-unit)) 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
}

.footer-links {
  display: flex;
  flex-basis: auto;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  font-size: 1.1rem;
  font-variation-settings: "wght" 500;
}

.footer-link a {
  display: flex;
  align-items: center;
  padding: 0 calc(1 * var(--spacing-unit));
  gap: 1rem;
  color: var(--color-background);
}

.footer-copyright {
  margin-top: calc(1 * var(--spacing-unit));
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright,
.footer-spacer {
  flex-basis: 0;
  flex-grow: 1;
}

.copyright {
  flex-grow: 2;
  text-align: center;
  font-size: 1.1rem;
  font-variation-settings: "wght" 300;
}

.footer-spacer {
  font-size: 2rem;
  font-variation-settings: "wght" 300;
}

.footer-spacer--left {
  text-align: left;
}

.footer-spacer--right {
  text-align: right;
}

/* ****************************** */
/* *** Main                       */
/* ****************************** */

.main {
  width: min(100%, var(--content-max-width));
  margin: 0 auto;
  padding: calc(1 * var(--spacing-unit));
  flex-grow: 1;
}

/* Header*/
.post-cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.spacer {
  font-size: 2rem;
  font-variation-settings: "wght" 200;
}

.article-header {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 0;
  margin-bottom: calc(2 * var(--spacing-unit));
}

.article-meta {
  font-variation-settings:
    "slnt" -15,
    "wght" 200;
}

.post-date {
  color: var(--color-dark-grey);
  font-size: 0.7em;
  margin-bottom: 0;
  font-style: italic;
  font-variation-settings:
    "slnt" -15,
    "MONO" 1;
}

.writings-container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.post-tags {
  display: flex;
  gap: 0.1rem;
  padding: 0;
  margin: 0;
}

.post-tag {
  font-size: 0.8em;
  padding-right: 0.3rem;
  font-weight: 100;
  display: inline-block;
}

.tag-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-light-grey);
  border: 0.1px solid var(--color-grey);
  padding: 0.1rem;
  border-radius: 3px;
}

.tag-hash,
.tag-text {
  font-size: 0.7rem;
  color: var(--color-dark-grey);
}

.index-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Links */
a {
  font-size: inherit;
  color: var(--color-text);
  text-decoration: underline;
  text-decoration-thickness: var(--border-size);
  text-decoration-color: var(--color-accent);
  transition: color 0.2s ease;
  text-align: center;
}

/* OTHER */

.hero {
  display: flex;
  flex-direction: column;
}

.figure {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.figure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-image,
.index-image {
  width: 100%;
  height: auto;
  border: 1px solid var(--color-text);
}

.about-image {
  margin-top: calc(3 * var(--spacing-unit));
}

.figure-caption {
  margin-top: calc(1 * var(--spacing-unit));
  color: var(--color-dark-grey);
  font-variation-settings:
    "slnt" -15,
    "MONO" 1;
  text-align: left;
  width: 100%;
}

.caption p {
  font-size: 0.7rem;
}

::selection {
  background: var(--color-accent);
  color: var(--color-text);
}

/* Code */
.astro-code {
  padding: calc(1 * var(--spacing-unit));
  border: 1px solid var(--color-grey);
  line-height: 1.3;
}

code span {
  font-size: 0.7rem;
  line-height: 1;
}

pre {
  overflow-x: auto;
  padding: 1rem 0;
  background-color: var(--color-light-grey);
  border: 1px solid var(--color-grey);
}

pre [data-line] {
  padding: 0 1rem;
}
pre > code {
  counter-reset: line;
}

[data-highlighted-line] {
  display: inline-block;
  background-color: var(--color-grey);
  padding: 10rem 10rem;
}

code[data-line-numbers] {
  counter-reset: line;
}

code > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 0.75rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 1.25rem;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 1.75rem;
}

code[data-line-numbers-max-digits="4"] > [data-line]::before {
  width: 2.25rem;
}

.rehype-pretty-copy {
  background-color: transparent;
  border: 0px solid var(--color-text);
}

.rehype-pretty-copy.rehype-pretty-copied {
  background-color: transparent;
  color: red;
  border: 0px solid var(--color-text);
}

.decorator {
  display: flex;
  text-align: center;
  color: var(--color-dark-grey);
  justify-content: center;
  gap: calc(1 * var(--spacing-unit));
  margin-bottom: calc(2 * var(--spacing-unit));
}

@media (max-width: 750px) {
  .navigation {
    flex-direction: column;
    gap: 10px;
  }

  .footer-links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navigation-spacer,
  .footer-spacer {
    display: none;
  }

  :root {
    /* Reduce the base size to 15px (e.g., a 6.25% reduction from 16px) */
    font-size: 80%; /* (Calculates to 15px) */
  }
}
