@import "reset.css";
@import "variables.css";
@import "typography.css";
@import "header.css";
@import "footer.css";

html {
  line-height: 2;

  color: var(--color-text);

  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  width: 100%;
  min-height: 100vh;
}

body {
  background-color: var(--color-accent);
  display: flex;
  flex-direction: column;
}

main ul {
  list-style: disc;
}

main ol {
  list-style: decimal;
}

li::marker {
  color: var(--color-dark-grey);
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: calc(1 * var(--spacing-unit));
  line-height: 1.2;
}

h2,
h3,
h4,
h5 {
  padding-bottom: calc(1 * var(--spacing-unit));
  border-bottom: var(--border-size) solid var(--color-grey);
}

p {
  text-align: justify;
  margin-bottom: calc(1 * var(--spacing-unit));
}

/* Used to set the white page on top of
 * the accented body color. This way, we will see the accented
 * color only when scrolling at the edges. */
.body-container {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.dotted {
  --dot-bg: var(--color-background);
  --dot-color: var(--color-grey);
  --dot-size: calc(0.015 * var(--header-height));
  --dot-space: calc(0.2 * var(--header-height));
  background:
    linear-gradient(
        90deg,
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--dot-color);
}

main {
  width: min(100%, var(--content-max-width));
  margin: 0 auto;
  padding: calc(3 * var(--spacing-unit)) calc(1 * var(--spacing-unit));
  flex-grow: 1;
}

.post-cards {
  display: flex;
  flex-direction: column;
  /* Remove the left padding from the ul element */
  padding-left: 0;
}

.post-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 1.5rem;
}

.post-header-oneline {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.post-date {
  color: var(--color-dark-grey);
  flex-basis: 0;
  flex-grow: 1;
}

.post-link {
  flex-basis: 0;
  flex-grow: 9;
}

.article-header {
  display: flex;
  flex-direction: column;
}

.article-meta {
  display: flex;
  gap: 0.5rem;
}

.article-content {
  padding-bottom: calc(2 * var(--spacing-unit));
}

.article-footer {
  display: flex;
  justify-content: center;
  padding-top: calc(2 * var(--spacing-unit));
  border-top: var(--border-size) solid var(--color-grey);
  margin-bottom: calc(2 * var(--spacing-unit));
}

.neighbor-writing-container {
  display: flex;
  line-height: 1.5rem;
  color: var(--color-grey);
}

.neighbor-writing {
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
}

.neighbor-writing-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  gap: 1rem;
}

.neighbor-writing-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  gap: 1rem;
}

.writings-container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.post-tags {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 0.5rem;
}

.tag-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-light-grey);
  border: var(--border-size) solid var(--color-grey);
  padding: 0rem 0.3rem;
  border-radius: 3px;
}

.tag-text::before {
  content: "#";
  margin-right: 0.1rem;
}

.index-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Links */
a {
  overflow-x: auto;
  color: var(--color-text);
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  text-decoration-thickness: calc(20 * var(--border-size));
  text-decoration-color: var(--color-accent);
  transition: color 0.2s ease;
}

/* OTHER */

.figure {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.figure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-image,
.index-image {
  width: 100%;
  height: auto;
  border: var(--border-size) solid var(--color-text);
}

.about-image {
  margin-top: calc(1 * var(--spacing-unit));
}

.figure-caption {
  color: var(--color-dark-grey);
  text-align: left;
  width: 100%;
}

::selection {
  background: var(--color-accent);
  color: var(--color-text);
}

/* Code */
.astro-code {
  padding: calc(1 * var(--spacing-unit));
  border: var(--border-size) solid var(--color-grey);
  line-height: 1.3;
}

.group-writings {
  padding-bottom: calc(1 * var(--spacing-unit));
}

code span {
  line-height: 1;
}

pre {
  overflow-x: auto;
  padding: 1rem 0;
  background-color: var(--color-light-grey);
  border: var(--border-size) solid var(--color-grey);
}

pre [data-line] {
  padding: 0 1rem;
}
pre > code {
  counter-reset: line;
}

[data-highlighted-line] {
  display: inline-block;
  background-color: var(--color-grey);
  padding: 0.25rem 0.5rem;
}

code[data-line-numbers] {
  counter-reset: line;
}

code > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 0.75rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 1.25rem;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 1.75rem;
}

code[data-line-numbers-max-digits="4"] > [data-line]::before {
  width: 2.25rem;
}

.rehype-pretty-copy {
  background-color: transparent;
  border: 0px solid var(--color-text);
}

.rehype-pretty-copy.rehype-pretty-copied {
  background-color: transparent;
  color: red;
  border: 0px solid var(--color-text);
}

.decorator {
  display: flex;
  text-align: center;
  color: var(--color-dark-grey);
  justify-content: center;
  gap: calc(1 * var(--spacing-unit));
  margin-bottom: calc(2 * var(--spacing-unit));
}

ul,
ol {
  padding: 0 3rem;
  overflow-x: auto;
}

.definition {
  background-color: var(--color-light-grey);
  padding: 1rem;
  border: var(--border-size) solid var(--color-grey);
  border-radius: 5px;
  margin: 1rem 0;
}

.definition-header {
  border-bottom: var(--border-size);
  padding-bottom: 1rem;
}

.definition-type {
  color: var(--color-dark-grey);
}

code {
  background-color: var(--color-light-grey);
  padding: 0.3rem 0.3rem;
  border-radius: 3px;
}

.katex {
  background-color: var(--color-light-grey);
  padding: 0 0.3rem;
  border-radius: 3px;
  overflow-x: auto;
}

.katex-display {
  background-color: var(--color-light-grey);
  padding: 1rem 1rem;
  border-radius: 3px;
}

:is(.about-body, .article-meta, .article-content, .article-footer)
  a[href^="http"]::before {
  content: "";
  display: inline-block;
  width: 0.85em;
  height: 0.85em;
  margin-right: 0.3em;
  vertical-align: middle;

  background-color: var(--color-dark-grey);

  /* The Mask (The "Stencil") */
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71'%3E%3C/path%3E%3Cpath d='M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71'%3E%3C/path%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71'%3E%3C/path%3E%3Cpath d='M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71'%3E%3C/path%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-size: contain;
}

@media (max-width: 700px) {
  :root {
    line-height: 1.7rem;
  }

  .header-container {
    min-height: var(--header-height);
  }

  .navigation {
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    height: 100%;
  }

  /* .footer-links { */
  /*   flex-direction: column; */
  /*   justify-content: center; */
  /*   align-items: center; */
  /* } */

  .logo-container {
    flex-grow: 1;
  }

  .navigation-links {
    flex-grow: 1;
  }

  .navigation-list {
    gap: 1rem;
    padding: 0;
  }

  .navigation-spacer,
  .footer-spacer {
    display: none;
  }

  .navigation-logo {
    justify-content: center;
    align-items: center;
  }

  .neighbor-writing-container {
    flex-direction: column;
    gap: 1rem;
  }

  ul,
  ol {
    padding: 0 2rem;
  }

  .post-date {
    flex-basis: 0;
    flex-grow: 1;
  }

  .post-link {
    flex-basis: 0;
    flex-grow: 5;
  }
}
