@import url("https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL,CRSV,MONO@-15..0,300..1000,0..1,0..1,0..1&display=swap");
@import "reset.css";
@import "variables.css";

em {
  font-variation-settings: "slnt" -15;
}

strong {
  font-variation-settings: "wght" 500;
}

header ul,
header ol,
footer ul,
footer ol {
  list-style: none;
}

html {
  font-size: 100%;
  line-height: 2;

  color: var(--color-text);

  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  font-family: var(--font-sans);
  font-variation-settings:
    var(--mono), var(--casl), var(--wght), var(--slnt), var(--CRSV);
}

/* Headings */
h1,
h2,
h3,
h4,
h5 {
  margin-bottom: calc(1 * var(--spacing-unit));
  font-variation-settings: "wght" 700;
}

p {
  margin-bottom: calc(1 * var(--spacing-unit));
  text-align: justify;
}

h1 {
  font-size: 2.5rem;
  font-variation-settings: "wght" 700;
  line-height: 1.2;
  margin-bottom: calc(1 * var(--spacing-unit));
}

/* h2 is not used, but let free for futureproof */
h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

.post-header {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}

.post-cards {
  padding-left: 0;
}

.post-link {
  font-size: 1.2rem;
  font-variation-settings: "wght" 400;
  margin-top: calc(-0.5 * var(--spacing-unit));
  margin-bottom: calc(0 * var(--spacing-unit));
}

/* ****************************** */
/* *** Main                       */
/* ****************************** */

body {
  background-color: var(--color-accent);
  display: flex;
  flex-direction: column;
}

/* Used to set the white page on top of
 * the accented body color. This way, we will see the accented
 * color only when scrolling at the edges. */
.body-container {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--color-background);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.dotted {
  --dot-bg: var(--color-background);
  --dot-color: var(--color-grey);
  --dot-size: calc(0.015 * var(--header-height));
  --dot-space: calc(0.2 * var(--header-height));
  background:
    linear-gradient(
        90deg,
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--dot-color);
}

/* ****************************** */
/* *** Header                     */
/* ****************************** */

header {
  z-index: 100;
  /* position: sticky; */
  top: 0;
}

.header-container {
  min-height: var(--header-height);
  width: 100%; /* Use 100% instead of left/right 0 for simplicity */
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-background);
}

.navigation {
  width: min(100%, var(--content-max-width));
  height: 100%;
  padding: calc(1 * var(--spacing-unit));
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-bottom: var(--border-size) solid var(--color-text);
}

.logo-container,
.navigation-links,
.navigation-spacer {
  flex-basis: 0;
  flex-grow: 2;
}

.navigation-links {
  width: 100%;
  flex-grow: 3;
}

.logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navigation-logo {
  font-variation-settings:
    "wght" 700,
    "MONO" 1;
  text-decoration: none;
}

.span-logo {
  background: var(--color-background-logo);
  padding: calc(0.5 * var(--spacing-unit));
}

.logo-link {
  color: var(--color-text-logo);
  text-decoration: none;
}

.principal-link {
  font-size: 1rem;
  font-variation-settings: "wght" 600;
}

.navigation-list {
  display: flex;
  justify-content: space-evenly;
}

.navigation-spacer {
  text-align: right;
  font-size: 2rem;
}

/* ****************************** */
/* *** Footer                     */
/* ****************************** */

footer {
  width: 100%;
  height: 100%;
  color: var(--color-background);
  background: var(--color-text);
}

.footer-container {
  width: min(100%, var(--content-max-width));
  height: 100%;
  padding: calc(3 * var(--spacing-unit)) calc(1 * var(--spacing-unit));
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-links {
  display: flex;
  flex-basis: auto;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  margin-bottom: calc(1 * var(--spacing-unit));
}

.footer-link a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 calc(1 * var(--spacing-unit));
  gap: 1rem;
  color: var(--color-background);
}

.footer-gpg {
  display: flex;
  justify-content: center;
  align-items: center;
  font-variation-settings: "wght" 600;
}

.footer-gpg a {
  color: var(--color-background);
}

.footer-copyright {
  margin-top: calc(2 * var(--spacing-unit));
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  flex-basis: 0;
  flex-grow: 2;
  text-align: center;
}

.footer-spacer {
  flex-basis: 0;
  flex-grow: 1;
  font-size: 2rem;
  font-variation-settings:
    var(--mono), var(--casl), var(--wght), var(--slnt), var(--CRSV);
}

.footer-spacer--left {
  text-align: left;
}

.footer-spacer--right {
  text-align: right;
}

/* ****************************** */
/* *** Main                       */
/* ****************************** */

main {
  width: min(100%, var(--content-max-width));
  margin: 0 auto;
  padding: calc(3 * var(--spacing-unit)) calc(1 * var(--spacing-unit));
  flex-grow: 1;
}

/* Header*/
.post-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.spacer {
  font-size: 2rem;
  font-variation-settings: "wght" 300;
}

.article-header {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding-bottom: calc(1 * var(--spacing-unit));
}

.article-footer {
  display: flex;
  justify-content: center;
  padding-top: calc(2 * var(--spacing-unit));
  border-top: 0.1px solid var(--color-grey);
  font-size: 0.8em;
  font-variation-settings: "wght" 400;
}

.article-content {
  padding-bottom: calc(2 * var(--spacing-unit));
}

.article h2,
h3,
h4,
h5 {
  border-bottom: 0.1px solid var(--color-grey);
}

li::marker {
  color: var(--color-dark-grey);
}

.article-meta {
  display: flex;
  gap: 0.5rem;
  font-variation-settings: "wght" 400;
}

.article-meta-date {
  font-variation-settings:
    "slnt" -15,
    "wght" 300;
}

.post-date {
  font-size: 0.8em;
  margin-bottom: 0;
  font-style: italic;
  font-variation-settings:
    "slnt" -15,
    "wght" 300,
    "MONO" 1;
}

.writings-container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.post-tags {
  display: flex;
  gap: 0.1rem;
  padding: 0;
  margin: 0;
  gap: 0.5rem;
}

.post-tag {
  font-size: 0.8em;
  padding: 3rem;
  font-weight: 100;
  display: inline-block;
}

.tag-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-light-grey);
  border: 0.1px solid var(--color-grey);
  padding: 0rem 0.3rem;
  border-radius: 3px;
}

.tag-hash,
.tag-text {
  font-size: 0.7rem;
}

.tag-text::before {
  content: "#";
  margin-right: 0.1rem;
}

.index-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Links */
a {
  font-size: inherit;
  color: var(--color-text);
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 0.1rem;
  text-decoration-thickness: var(--border-size);
  text-decoration-color: var(--color-accent);
  transition: color 0.2s ease;
}

/* OTHER */

.hero {
  display: flex;
  flex-direction: column;
}

.figure {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.figure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-image,
.index-image {
  width: 100%;
  height: auto;
  border: var(--border-size) solid var(--color-text);
}

.about-image {
  margin-top: calc(3 * var(--spacing-unit));
}

.figure-caption {
  margin-top: calc(1 * var(--spacing-unit));
  color: var(--color-dark-grey);
  font-variation-settings:
    "slnt" -15,
    "MONO" 1;
  text-align: left;
  width: 100%;
  font-size: 0.8rem;
}

::selection {
  background: var(--color-accent);
  color: var(--color-text);
}

/* Code */
.astro-code {
  padding: calc(1 * var(--spacing-unit));
  border: 1px solid var(--color-grey);
  line-height: 1.3;
}

code span {
  font-size: 0.7rem;
  line-height: 1;
}

pre {
  overflow-x: auto;
  padding: 1rem 0;
  background-color: var(--color-light-grey);
  border: 1px solid var(--color-grey);
}

pre [data-line] {
  padding: 0 1rem;
}
pre > code {
  counter-reset: line;
}

[data-highlighted-line] {
  display: inline-block;
  background-color: var(--color-grey);
  padding: 10rem 10rem;
}

code[data-line-numbers] {
  counter-reset: line;
}

code > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 0.75rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 1.25rem;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 1.75rem;
}

code[data-line-numbers-max-digits="4"] > [data-line]::before {
  width: 2.25rem;
}

.rehype-pretty-copy {
  background-color: transparent;
  border: 0px solid var(--color-text);
}

.rehype-pretty-copy.rehype-pretty-copied {
  background-color: transparent;
  color: red;
  border: 0px solid var(--color-text);
}

.decorator {
  display: flex;
  text-align: center;
  color: var(--color-dark-grey);
  justify-content: center;
  gap: calc(1 * var(--spacing-unit));
  margin-bottom: calc(2 * var(--spacing-unit));
}

ul,
ol {
  padding: 0 3em;
  overflow-x: auto;
}

.definition {
  background-color: var(--color-light-grey);
  padding: 1rem;
  border: var(--border-size) solid var(--color-grey);
  border-radius: 5px;
  margin: 1rem 0;
}

.definition-header {
  border-bottom: 1px;
  padding-bottom: 1rem;
}

.definition-type {
  color: var(--color-dark-grey);
}

code {
  background-color: var(--color-light-grey);
  padding: 0.3rem 0.3rem;
  border-radius: 3px;
}

.katex .text {
  font-family: "Recursive", monospace;
  font-size: 1rem;
}

.katex {
  background-color: var(--color-light-grey);
  padding: 0 0.3rem;
  border-radius: 3px;
  overflow-x: auto;
}

.katex-display {
  background-color: var(--color-light-grey);
  padding: 1rem 1rem;
  border-radius: 3px;
}

:is(.about-body, .article-meta, .article-content, .article-footer)
  a[href^="http"]::before {
  content: "";
  display: inline-block;
  width: 0.85em;
  height: 0.85em;
  margin-right: 0.3em;
  vertical-align: middle;

  background-color: var(--color-dark-grey);

  /* The Mask (The "Stencil") */
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71'%3E%3C/path%3E%3Cpath d='M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71'%3E%3C/path%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71'%3E%3C/path%3E%3Cpath d='M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71'%3E%3C/path%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-size: contain;
}

.article-neighbor {
  margin-top: calc(2 * var(--spacing-unit));
  font-variation-settings: "wght" 400;
}

.neighbor-writing-container {
  display: flex;
  line-height: 1.5rem;
  color: var(--color-grey);
}

.neighbor-writing {
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
}

.neighbor-writing-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  gap: 1rem;
}

.neighbor-writing-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  gap: 1rem;
}

@media (max-width: 700px) {
  :root {
    /* Reduce the base size to 15px (e.g., a 6.25% reduction from 16px) */
    font-size: 80%; /* (Calculates to 15px) */
    --header-height: 70px;
  }

  .header-container {
    min-height: var(--header-height);
  }

  .navigation {
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  /* .footer-links { */
  /*   flex-direction: column; */
  /*   justify-content: center; */
  /*   align-items: center; */
  /* } */

  .logo-container {
    flex-grow: 1;
  }

  .navigation-links {
    flex-grow: 1;
  }

  .navigation-list {
    gap: 1rem;
    padding: 0;
  }

  .navigation-spacer,
  .footer-spacer {
    display: none;
  }

  .navigation-logo {
    justify-content: center;
    align-items: center;
  }

  .neighbor-writing-container {
    flex-direction: column;
    gap: 1rem;
  }
}
