/* ============================== */
/* Header                         */
/* ============================== */

header {
  min-height: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation {
  width: min(100%, var(--content-max-width));
  padding: var(--spacing-unit);
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-bottom: var(--border-size) solid var(--color-text);
}

.logo-link {
  flex: 2 0 0;
  color: var(--color-background);
  background-color: var(--color-text);
  padding: var(--spacing-quarter) var(--spacing-half);
  text-align: center;
}

.navigation-list {
  flex: 4 0 0;
  display: flex;
  justify-content: space-evenly;
}

.navigation::after {
  content: "+";
  color: var(--color-dark-grey);
  flex: 2 0 0;
  text-align: right;
  font-size: 1.2rem;
  font-weight: 600;
}
