:root {
  /* Colors */
  --color-white: hsl(0, 0%, 99%);
  --color-black: hsl(0, 0%, 10%);
  --color-cyan: hsl(165 75% 50%);
  --color-light-grey: hsl(0 0% 96%);
  --color-grey: hsl(0 0% 85%);
  --color-dark-grey: hsl(0 0% 58%);

  /* Abstraction */
  --color-text: var(--color-black);
  --color-background: var(--color-white);
  --color-accent: var(--color-cyan);
  --color-text-logo: var(--color-background);
  --color-background-logo: var(--color-text);
  --color-link: var(--color-text);
  --color-link-visited: var(--color-accent);

  /* Layout */
  --content-max-width: 780px;
  --spacing-unit: 1rem;
  --spacing-half: calc(0.5 * var(--spacing-unit));
  --spacing-small: calc(0.3 * var(--spacing-unit));
  --spacing-quarter: calc(0.25 * var(--spacing-unit));
  --spacing-double: calc(2 * var(--spacing-unit));
  --spacing-triple: calc(3 * var(--spacing-unit));
  --border-size: 0.1px;
  --header-height: 70px;

  /* Typography */
  --line-height-base: 2;
  --line-height-tight: 1.5rem;
  --line-height-code: 1.3;

  /* Icons */
  --icon-size: 1rem;
}

@media (max-width: 700px) {
  :root {
    --header-height: 70px;
  }
}
