:root {
  /* Colors */
  --color-white: hsl(0, 0%, 99%);
  --color-black: hsl(0, 0%, 10%);
  --color-cyan: hsl(165 75% 50%);
  --color-light-grey: hsl(0 0% 96%);
  --color-grey: hsl(0 0% 85%);
  --color-dark-grey: hsl(0 0% 58%);

  /* Abstraction */
  --color-text: var(--color-black);
  --color-background: var(--color-white);
  --color-accent: var(--color-cyan);
  --color-text-logo: var(--color-background);
  --color-background-logo: var(--color-text);
  --color-link: var(--color-text);
  --color-link-visited: var(--color-accent);

  /* Typography */
  --font-sans: "Recursive", monospace;
  --font-size: 1.125rem; /* used by the rem ---> not working*/
  --casl: "casl" 0;
  --wght: "wght" 300;
  --slnt: "slnt" 0;
  --mono: "MONO" 1;
  --CRSV: "CRSV" 0;

  /* Layout */
  --content-max-width: 780px;
  --spacing-unit: 1rem;
  --border-size: calc(0.1 * var(--spacing-unit));
  --header-height: 70px;
}
