:root {
  /* Colors */
  --color-white: hsl(0, 0%, 99%);
  --color-black: hsl(0, 0%, 10%);
  --color-cyan: hsl(165 75% 50%);
  --color-light-grey: hsl(0 0% 96%);
  --color-grey: hsl(0 0% 85%);
  --color-dark-grey: hsl(0 0% 58%);

  /* Abstraction */
  --color-text: var(--color-black);
  --color-background: var(--color-white);
  --color-accent: var(--color-cyan);
  --color-text-logo: var(--color-background);
  --color-background-logo: var(--color-text);
  --color-link: var(--color-text);
  --color-link-visited: var(--color-accent);

  /* Layout */
  --content-max-width: 780px;
  --spacing-unit: 1rem;
  --border-size: 0.1px;
  --header-height: 70px;
}

@media (max-width: 700px) {
  :root {
    --header-height: 70px;
  }
}
