---
import "../styles/global.css";

import Base from "../layouts/Base.astro";

import { Image } from "astro:assets";
import AboutImage from "../images/me-and-topolino.jpg";

const pageTitle = "About";
---

<Base pageTitle={pageTitle}>
  <h1>About</h1>

  <div class="decorator">
    <span>*</span>
    <span>*</span>
    <span>*</span>
  </div>

  <p>
    Eternal Spring is a blog about the <em>random things</em> I learn and experiment
    with during my work and free time. Expect to find writing, notes, and fragments
    on software design, decentralized finance applications, math, and martial arts.
  </p>

  <br />

  <p>
    I'm Stefano, a software engineer based in Belrin working in the
    decentralized systems industry.<br />I'm interested cross-chain data
    exchange, decentralized finance, and system architecture.<br /> I've contributed
    to a stablecoin app-specific chain (<a
      rel="stylesheet"
      href="https://github.com/noble-assets/noble">Noble Core</a
    >), a chain module that integrates go-ethereum in a Cosmos SDK-based chain (<a
      rel="stylesheet"
      href="https://github.com/evmos/evmos">evmos</a
    >, <a rel="stylesheet" href="https://github.com/cosmos/cosmos-sdk"
      >Cosmos SDK</a
    >), and a bunch of other <em>nice things</em>, including an abstraction
    layer on top of cross-chain bridges like IBC, CCTP, and Hyperlane called <a
      rel="stylesheet"
      href="https://github.com/noble-assets/orbiter">Orbiter</a
    >.
  </p>

  <br />

  <p>
    I enjoy spending time creating my own tools, and I like them to be simple
    and minimal. This interest led me to develop a <em>terminal-centric</em> workflow,
    mainly based on
    <a
      rel="stylesheet"
      href="https://github.com/0xstepit/dotfiles/tree/main/.config/nvim"
      >Neovim</a
    > and Tmux.
  </p>

  <figure class="figure">
    <div class="figure-container">
      <Image
        class="about-image"
        src={AboutImage}
        alt="A shot of me and Topolino."
      />
      <figcaption class="figure-caption">
        <p>Figure 1: A shot of me and Topolino.</p>
      </figcaption>
    </div>
  </figure>

  <br />

  <p>
    Before developing my passion for computers and finance, I did (or maybe
    tried to do…) research at the intersection of machine-learning-assisted
    simulations and aerospace structural analysis. I was fascinated by
    instability phenomena in cylindrical shapes. <em
      >How can people not be fascinated by that, right?</em
    > It was incredible to realize, despite the math being quite clear,that an instability
    phenomenon could create such artistic shapes. Art in destruction, or destruction
    in the art? I spent a good amount of time implementing
    <a rel="stylesheet" href="https://doi.org/10.1016/j.compstruct.2019.111513"
      >feedforward neural networks</a
    >
    (I knooow, they're old, but it was a long time ago)
    <a rel="stylesheet" href="https://doi.org/10.1016/j.compstruct.2019.111513"
      >that worked beautifully when combined with bio-inspired optimization
      algorithms like particle swarm optimization</a
    >
  </p>

  <br />

  <p>
    Work stuff aside, I love martial arts, and one day I dream of opening my own
    gym. I practiced Judo for around 13 years . I placed

    <a
      rel="stylesheet"
      href="https://judoinside.com/judoka/96874/Stefano_Pitton/judo-career"
      >3rd at the Italian championships</a
    > when I was 18, and I hold a second-dan black belt. I love my Mizuno belt, directly
    from Japan. If you’ve never tried judo, I strongly recommend it! From Japan to
    China: I recently started studying Kung Fu, specifically the Wing Chun lineage
    from Leung Ting, and I love it!
  </p>
</Base>
