---
import { SITE_CONFIG } from "@/config";
import Base from "../layouts/Base.astro";

const pageTitle = SITE_CONFIG.title;
---

<Base pageTitle={pageTitle}>
  <div class="index-container">
    <div class="hero">
      <h1>Welcome to Eternal Spring.</h1>
    </div>
    <figure class="figure">
      <div class="figure-container">
        <img
          class="index-image"
          src="/images/lisbon.jpg"
          alt="A shot of me and Topolino."
        />
        <figcaption class="figure-caption">
          <p>Figure 0: Santa Maria Maior (Lisbon, Portugal).</p>
        </figcaption>
      </div>
    </figure>
  </div>
</Base>
