---
import Base from "../layouts/Base.astro";

const pageTitle = "Eternal Spring";
---

<Base pageTitle={pageTitle}>
  <h1>Welcome to Eternal Spring!</h1>
  <div class="hero">
    <span> I'm Stefano, a software enginer based in Berlin. </span>
    <div class="hero-image-container">
      <figure>
        <img
          class="hero-image"
          src="/me-and-topolino.JPG"
          alt="A shot of me and Topolino."
        />
        <figcaption class="topolino-caption">
          Fig 0: A shot of me and Topolino
        </figcaption>
      </figure>
    </div>
  </div>
</Base>
