---
import { Image } from "astro:assets";
import IndexImage from "../images/lisbon.jpg";

import { SITE_CONFIG } from "@/config";
import Base from "../layouts/Base.astro";
import Decorator from "../components/Decorator.astro";

const pageTitle = SITE_CONFIG.title;
---

<Base pageTitle={pageTitle}>
  <h1>Welcome to Eternal Spring.</h1>

  <Decorator symbol="×" />

  <figure class="figure">
    <div class="figure-container">
      <Image
        class="index-image"
        src={IndexImage}
        alt="Santa Maria Maior in Lisbon"
        format="webp"
        quality={80}
      />
      <figcaption class="figure-caption">
        <p>Figure 0: Santa Maria Maior (Lisbon, Portugal).</p>
      </figcaption>
    </div>
  </figure>
</Base>
