---
import { SITE_CONFIG } from "@/config";
import Base from "../layouts/Base.astro";

const pageTitle = SITE_CONFIG.title;
---

<Base pageTitle={pageTitle}>
  <div class="index-container">
    <div class="hero">
      <h1>Welcome to Eternal Spring.</h1>
    </div>
    <div class="index-image-container">
      <figure>
        <img
          class="index-image"
          src="/images/lisbon.jpg"
          alt="A shot of me and Topolino."
        />
        <figcaption class="caption">
          <p>Fig 0: Lisbon - Santa Maria Maior</p>
        </figcaption>
      </figure>
    </div>
  </div>
</Base>
