---
import SocialLinks from "./SocialLinks.astro";
import { SOCIAL_LINKS } from "@/config";
---

<div class="footer-container">
  <SocialLinks links={SOCIAL_LINKS} />
  <div class="footer-gpg">
    <a href="/public/pubkey.asc" download="stepit_pubkey.asc">pubkey.asc</a>
  </div>
  <div class="footer-copyright">
    <div class="footer-spacer footer-spacer--left">×</div>
    <div class="copyright">Copyright © 2025 Stefano Pitton</div>
    <div class="footer-spacer footer-spacer--right">*</div>
  </div>
</div>
