---
import SocialLinks from "./SocialLinks.astro";
import { SOCIAL_LINKS } from "@/config";

const currentYear = new Date().getFullYear();
---

<footer>
  <div class="footer-container">
    <SocialLinks links={SOCIAL_LINKS} />
    <div class="footer-gpg">
      <a href="/public/pubkey.asc" download="stepit_pubkey.asc">pubkey.asc</a>
    </div>
    <div class="footer-copyright">
      <span class="spacer footer-spacer footer-spacer--left" aria-hidden="true">×</span>
      <span class="copyright">© {currentYear} Stefano Pitton</span>
      <span class="spacer footer-spacer footer-spacer--right" aria-hidden="true">*</span>
    </div>
  </div>
</footer>
