---
import SocialLinks from "./SocialLinks.astro";
import { SOCIAL_LINKS } from "@/config";

const currentYear = new Date().getFullYear();
---

<footer>
  <div class="footer-container">
    <SocialLinks links={SOCIAL_LINKS} />
    <a class="footer-gpg" href="/public/pubkey.asc" download="stepit_pubkey.asc"
      >pubkey.asc</a
    >
    <small class="footer-copyright"> © {currentYear} Stefano Pitton </small>
  </div>
</footer>
