---
// Component Script (JavaScript)
interface Props {
  name: string;
  path: string;
}

var { name, path } = Astro.props;
name = name.toLocaleLowerCase().split(" ").join("-");
---

<div class="navigation-logo">
  <span class="span-logo">
    <a href={path} class="logo-link" }>
      ~/.{name}
    </a>
  </span>
</div>
