---
interface Props {
  name: string;
  path: string;
}

var { name, path } = Astro.props;
name = name.toLocaleLowerCase().split(" ").join("-");
---

<div class="navigation-logo">
  <a href={path} class="logo-link">
    ~/.{name}
  </a>
</div>
