---
import { NAV_LINKS } from "@/config";
import NavigationLinks from "./NavigationLinks.astro";
import Logo from "./Logo.astro";

const [logo, ...links] = NAV_LINKS;
---

<nav class="navigation">
  <div class="logo-container">
    <Logo name={logo.name} path={logo.path} />
  </div>
  <NavigationLinks links={links} />
  <div class="navigation-spacer">+</div>
</nav>
