---
import type { NavigationLink } from "@/types.ts";

const currentPath = Astro.url.pathname;

interface Props {
  links: NavigationLink[];
}

const { links } = Astro.props;
---

<div class="navigation-links">
  <ul class="navigation-list">
    {
      links.map((link) => {
        return (
          <li class="principal-link">
            <a
              href={link.path}
              class={
                // Not used currently
                currentPath === link.path
                  ? "navigation-link active"
                  : "nvaigation-link"
              }
            >
              {link.name}
            </a>
          </li>
        );
      })
    }
  </ul>
</div>
