---
import { toFormattedDate } from "../scripts/dates";

interface Props {
  url: string;
  title: string;
  summary: string;
  date: Date;
  tags: Array<string>;
}

const { url, title, summary, date, tags } = Astro.props;

const formatterDate = toFormattedDate(date);
---

<article class="post-card">
  <div class="post-header">
    <time class="post-date italic smaller">{formatterDate}</time>
    <a href={url} class="post-link">{title}</a>
  </div>

  <p class="post-summary">{summary}</p>
</article>
