---
const currentPath = Astro.url.pathname;

// Component Script (JavaScript)
interface Props {
  name: string;
  path: string;
}

const { name, path } = Astro.props;
---

<li>
  <a
    href={path}
    class={currentPath === path
      ? "navbar-secondary active"
      : "navabar-secondary"}
  >
    {name}
  </a>
</li>
