---
import type { SocialLink } from "@/types.ts";

interface Props {
  links: SocialLink[];
}

const { links } = Astro.props;
---

<div class="footer-links">
  {
    links.map((link) => {
      return (
        <div class="footer-link principal-link">
          <a href={link.url}>
            {link.platform}
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width=1rem
              height=1rem
              fill="currentColor"
            >
              <path d={link.svg} />
            </svg>
          </a>
        </div>
      );
    })
  }
</div>
