---
import "../styles/global.css";

import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import { SITE_CONFIG } from "@/config";
const language = SITE_CONFIG.language || "en-US";

const { pageTitle, pageStyle } = Astro.props;
const bodyContainer = pageStyle || "container-body";
---

<html lang={language}>
  <Head pageTitle={pageTitle} />
  <body class="body">
    <div class={bodyContainer}>
      <Header />
      <main class="main">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
