---
import "../styles/global.css";

import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import "@fontsource-variable/space-grotesk";

const { pageTitle } = Astro.props;
---

<html lang="en">
  <Head pageTitle={pageTitle} />
  <body class="body">
    <div class="body-content">
      <Header />
      <main class="main">
        <div class="container">
          <slot />
        </div>
      </main>
      <Footer />
    </div>
  </body>
</html>
